# Flutter / Dart / Pub
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
**/doc/api/
**/ios/Flutter/.last_build_id

# Symbolication / obfuscation
app.*.symbols
app.*.map.json

# IDEs
*.iml
*.ipr
*.iws
.idea/

# OS
.DS_Store
frontend/pubspec.lock
